@mixin Subtitle {
  font-size: 20px;
  font-family: roboto;
  color: $iconHover;
  font-weight: 700;
  line-height: 1.4;
  margin: 20px 0;
}
@mixin P {
  font-size: 16px;
  color: $pColor;
  line-height: 1.688;
  margin-bottom: 20px;
}
@mixin Link {
  font-size: 16px;
  font-family: roboto;
  color: $linkyellow;
  font-weight: 700;
  text-transform: uppercase;
}
@mixin ColorTitle {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #ffda44;
  margin: 0;
  padding: 0 15px;
  line-height: 28px;
}
