$body: #8d8d8d;
$white: #fff;
$icon: rgba(9, 62, 182, 0.65);
$iconHover: #093eb6;
$border: #e9ecf2;
$green: #35db24;
$headerP: #76797f;
$headerbottom: #f4f5f8;
$yellow: #ffda44;
$colorlight: #bebebe;
$brown: #4c443a;
$yellowHover: #ecc124;
$pColor: #677078;
$brownDark: #303539;
$grayDark: #4c4f54;
$footer: #03153e;
$Hover: #002d92;
$linkyellow: #ffbe00;
$lightgray: #61656f;
